@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Rammetto+One&display=swap');


:root {
  --blue: #4059AD;
  --lightblue: #6B9AC4;
  --light: #EFF2F1;
--yellow: #F4B942;
}
  
* {
  font-family: 'Montserrat', sans-serif;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}
.nav img {
  height: 30px;
  width: 30px;
  padding-top: 0.2em;
  object-fit: contain;
}
.nav {
  padding: 0.2em 0em;
}
.navline {
  width: 50%; 
}